<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="{{mode === 'form' ? 'col-4' : 'col-6'}} text-center">

            <div *ngIf="mode=='sent'">
                <h1 class="text-info">Password Reset Email Sent</h1>
                <p>
                    A 'Password Reset' email has been sent to<br>
                    <span class="text-info">{{email}}</span><br>
                    <br>
                    Please check you Inbox (and Junk/Spam) folder.<br>
                    Click the link in that email to reset your password.
                </p>
            </div>

            <div *ngIf="mode=='problem'">
                <h1 class='text-danger'>Password Reset<br>Email Problem</h1>
                <p>
                    There was a problem sending the password reset email.<br>
                    {{errorText}}<br>
                </p>
            </div>

            <div *ngIf="mode=='failed'">
                <h1 class="text-danger">Password Reset Failed</h1>
                The password reset failed with the following error(s):<br>
                    <span class="text-danger" *ngFor="let error of errorList">{{error.description}}<br></span>
            </div>

            <div *ngIf="mode=='success'">
                <h1 class="text-success">Successful Password Reset</h1>
                <p>
                    You may now login with your new password.
                </p>
            </div>

            <form [formGroup]="resetPasswordForm" (ngSubmit)="changePassword()" *ngIf="mode=='form'">
                <h1 class='text-danger'>Reset Password</h1>
                <h3>{{email}}</h3>
                <p>Note: This page is only valid for a limited time.</p>

                <div class="form-group">
                    <input type="password" [ngClass]="{'is-invalid': 
                        resetPasswordForm.get('password').errors && resetPasswordForm.get('password').touched}"
                        class="form-control" formControlName="password" placeholder="Password">
                    <div class="invalid-feedback" *ngIf="resetPasswordForm.get('password').hasError('required') 
                            && resetPasswordForm.get('password').touched">
                        Password is required
                    </div>
                    <div class="invalid-feedback" *ngIf="resetPasswordForm.get('password').hasError('minlength')
                            && resetPasswordForm.get('password').touched">
                        Password must be at least 4 characters
                    </div>
                    <div class="invalid-feedback" *ngIf="resetPasswordForm.get('password').hasError('maxlength')
                            && resetPasswordForm.get('password').touched">
                        Password cannot exceed 8 characters
                    </div>
                </div>

                <div class="form-group">
                    <input type="password" [ngClass]="{'is-invalid': 
                            (resetPasswordForm.get('confirmPassword').errors 
                            || resetPasswordForm.hasError('mismatch'))
                            && resetPasswordForm.get('confirmPassword').touched}" class="form-control"
                        formControlName="confirmPassword" placeholder="Confirm Password">
                    <div class="invalid-feedback" *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')
                            && resetPasswordForm.get('confirmPassword').touched">
                        Confirm Password is required
                    </div>
                    <div class="invalid-feedback" *ngIf="resetPasswordForm.hasError('mismatch')
                            && resetPasswordForm.get('confirmPassword').touched">
                        Passwords must match
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success" type="button" [disabled]="!resetPasswordForm.valid"
                        type="submit">Change Password</button>
                </div>

            </form>
        </div>
    </div>
</div>